@charset "utf-8";
/*CSS DOCUMENT*/

body { /*baground*/
	margin-left: 450px;
	padding: 50px;
	font-family: Arial, sans-serif;
	background: url(tekno.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

/*NAV BAR*/

.navigation nav {
	margin-left: 540px;
	margin-bottom: 50px;
}

nav {
	background: white;
	width: 360px;
	display: flex;
	justify-content: space-between; /*jarak antara kata (between = sampai pinggir)(around = tidak sampai pinggir)*/
	padding: 5px; /*jarak setiap sisi*/
	border-radius: 22px; /*siku-siku*/
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}

nav > a {
	color: black;
	text-decoration: none; /*membuat teks menjadi netral*/
	padding: 8px 16px;
	border-radius: 22px;
}

nav > a:hover {
	transition: 0.25s; /*berapa lama transisi warna*/
	background: red; /*warna transisi*/
	color: white; /*transisi warna pada huruf*/
}

/*CONTENT*/
.judul {
	width: 500px;
}

.judul h1 {
	color: white;
	text-align: center;
	text-shadow: 0px 0px 10px red;
}

.judul img {
	width: 200px;
	margin-left: 150px;
}